:root {
    --white: white;
    --text-black: black;
    --nav-orange: rgba(255, 118, 76, 0.795);
}

* {
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: rgb(245 240 223);
}

.top-container {
    background-color: rgb(222, 222, 81);
    background-image: url("../assets/images/headerbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: start;
    width: 100%;
    height: auto;
}

h1 {
    color: var(--white);
    padding: 5%;
    text-shadow: 3px 3px 0 var(--nav-orange);
    text-decoration-line: underline;
}

nav ul {
    background-color: var(--nav-orange);
    display: flex;
    flex-direction: row;
}

nav a {
    color: var(--white);
}

ul {
    list-style-type: none;
    padding: 1% 0;
}

li {
    padding: 0 6px;
}

main {
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding-top: 1%;
}

.about-me {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 1%;
}


.contact-photo img {
    border: solid var(--nav-orange) 3px;
    border-radius:  100% 100% 0 0;
    width: 18%;
}

.contact-info {
    border: solid var(--nav-orange) 3px;
    border-radius:  100% 100% 0 0;
    width: 18%;
    height: 15rem;
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--nav-orange);
    text-align: center;
    color: var(--white);
}

.about-me {
    border: solid var(--nav-orange) 3px;
    border-radius:  100% 100% 0 0;
    width: 18%;
    height: 15rem;
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--nav-orange);
    text-align: center;
    color: var(--white);
}

footer {
    Padding: 1%;
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 768px) {
  
    section {
      padding-right: 0;
    }
  
  }